[build]
  base = "aura-frontend"
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[dev]
  command = "npm run dev"
  port = 5173
  targetPort = 5173
  publish = "dist"

[context.production.environment]
  NODE_VERSION = "20"
